<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Patchwork Dumper Test Suite">
            <directory>./src/Symfony/Bridge/*/Tests/</directory>
            <directory>./src/Symfony/Bundle/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
